body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #cbdbff;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  overflow: hidden;
}

/* Add the following animation keyframes */

@keyframes move {
  0% {
    transform: translateY(-50%) translateX(-50%);
  }
  50% {
    transform: translateY(-40%) translateX(-40%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

