.profileContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profileContainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 190px;
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  border-radius: 20px;
  border: 5px solid #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-right: 90px;
  transition: transform 0.3s ease-in-out;
}

.avatarContainer:hover {
  transform: rotate(5deg);
}

.avatar {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  font-size: 80px; /* Adjust the font size as needed */
  /* background-color: #f0f0f0; */
  /* border: 3px solid #ccc; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333333;
}
.userEmail, .userId {
  color: #666666;
  margin-bottom: 10px;
  font-size: 28px;
}

.logoutButton {
  background: linear-gradient(135deg, #4caf50, #388e3c); /* Green gradient */
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 16px 48px;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 128, 0, 0.3);
}

.logoutButton:hover {
  background: linear-gradient(135deg, #388e3c, #4caf50);
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 128, 0, 0.5);
}
.logoutButton span {
  font-weight: bold; /* Make the text bold */
}

body {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}